<!DOCTYPE HTML>
<html>
<head>
<title>{{page.title}}</title>

	<!-- build:css -->
	<link rel="stylesheet" type="text/css" href="./src/css/LeagueGothicFont.css">
	<link rel="stylesheet" type="text/css" href="./src/css/Main.css">
	<link rel="stylesheet" type="text/css" href="./src/css/NavBar.css">
	<link rel="stylesheet" type="text/css" href="./src/css/spaceship.css">
	<!-- endbuild -->

</head>
<body>

	<div id="top-nav"></div>

	{{page.content}}

	<!-- build:js -->
	<!-- Dev scripts -->
	<!-- BOWER -->
	<script src="./src/main-js/react.js"></script>
	<script src="./src/main-js/jquery.min.js"></script>
	<!-- SRC -->
	<script src="./src/main-js/main.js"></script>
	<script src="./src/main-js/stars.js"></script>
	<!--endbuild -->
</body>