<!DOCTYPE HTML>
<html>
<head>
<title>{{page.title}}</title>

	<!-- build:css -->
	<link rel="stylesheet" type="text/css" href="/src/css/LeagueGothicFont.css">
	<link rel="stylesheet" type="text/css" href="/src/css/Main.css">
	<link rel="stylesheet" type="text/css" href="/src/css/NavBar.css">
	<!-- endbuild -->

</head>
<body>

	{{page.content}}

	<!-- build:js -->
	<!-- Dev scripts -->
	<script src="/src/main-js/react.js"></script>
	<script src="/src/main-js/jquery.min.js"></script>
	<script src="/src/main-js/main.js"></script>
	<!--endbuild -->
</body>